@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
} */

.btn-shiny ::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #fff;
  animation: shinyBtn 3s ease-in-out infinite;
}

@keyframes shinyBtn {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.input-active {
  border: 1px solid #fe724c !important;
}
